SmileSCommunicate/Connected Services/SSOService/SSOService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSLogin.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSLogin.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuListByRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuListByRoles" nillable="true" type="tns:MenuListByRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuListByRoles" nillable="true" type="tns:ArrayOfMenuListByRoles" />
  <xs:complexType name="MenuListByRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainMenuId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuId" type="xs:int" />
      <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="projectname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuListByRoles" nillable="true" type="tns:MenuListByRoles" />
</xs:schema>